.card {
  width: 600px;
  background-color: #111a28;
  color: white;
  display: flex;
}
body {
  background-image: url(images/Background.jpg);
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
}

.box {
  display: flex;
  justify-content: flex-start;
}
footer {
  display: flex;
  justify-content: center;
}
button {
  display: flex;
  justify-content: space-between;
}
